
@font-face{
	font-family: "adobe clean";
	src: url("AdobeClean-Regular.otf") format("opentype");
}

body {
	padding: 0px;    
	background-color:#222222;
	font-family: "adobe clean";
	line-height:1;
}

.box {
	position: absolute;
	width: 100%;
	font-size: 50px;
	font-size: 3vw;
	text-align: center;
	left: 150%;
	top: 10%;
	margin-left: -25%;
	color:white;
}

.msg{
	display:none;
	font-size:20px;
	font-size:2vw;
	margin-top:40px;
	width:50%;
	position:absolute;
	left:25%;
}

.contentbox{
	width:60%;
	height:75%;
}
.c4row{
	overflow:hidden;
	height:16.6%;
}

.c4box{
	background-color:#444444;
	/*width:14.2%;*/
	border:1px solid white;
	height:100%;
	padding:0;
	margin:0;
}

.panel{
	padding:0;
	height:100%;
}

.panel-heading{
	padding-top:20px;
}

.panel-body{
	padding:0;
	height:90%;
}

.input-group .glyphicon{
	top:0px;
}

.col-no-padding{
	padding:0;
}

.label{
	padding-top:0.3em;
}
.c4yellow{
	background:url("res/c4yellow.png");
}
.c4blue{
	background:url("res/c4blue.png");
}
.c4red{
	background:url("res/c4red.png");
}
.c4green{
	background:url("res/c4green.png");
}
.c4yellow, .c4blue, .c4red, .c4green{
	background-size:contain;
	background-color:#444444;
	background-repeat:no-repeat;
}
.dropdiv{
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -webkit-transition: 0.8s;
	transition: 0.8s;
}
#container {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;  
	background: repeating-linear-gradient( 135deg, #222222, #222222 50px, #282828 50px, #282828 100px );
}
.transition-fast{
	-moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
	transition: 0.3s;
}
#name_select {
	left: 25%;
	font-size:50px;
	font-size:5vw;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition:0.5s;
}

#name_select input[type=text]{
	border: 0px solid white;
	border-bottom-width: 2px;
	color:white;
	font-family: inherit;
	font-size:35px;
	font-size:3.5vw;
	background:transparent;
	text-align: inherit;
	text-decoration: none;
	outline:none;
	padding-top:50px;
}

#chatbox{
	width:23%;
	height:100%;
	top:0;
}

#chatname{
	color:white;
}
#chatmain .input-group{
	position:absolute;
	bottom:0;
}

.messageList { 
	overflow-y:scroll; 
	color:black;
	font-size:18px;
	padding:5px;
	padding-left:10px;
	margin:0;
	height:98%;
	text-align: left;
	background-color:white;
	line-height:1.5em;
}
.messageList span {
	word-wrap:break-word; 
	margin:0;
	border:0px;
}
.messageList .subtle{
	text-align:center;
	font-style:italic;
	color:#BBBBBB;
}

.inputMessage{ 
	width:100%; 
	color:black; 
	margin:0px; 
	font-size:16px; 
	/*font-size:1.1vw;*/
	z-index: 0;
}

#active_game_div{
	height:83%;
	width:60%;
	top:0px;
	margin-top:20px;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition:0.5s;
}

#connect_four_board{
	height:86%;
}

#chatmain{
	padding-left:0px;
	width:20%;
	top:0px;
	padding-top:20px;
	height:100%;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition:0.5s;
}
#chatmain .panel-heading{
	height:8%;
}

#gameroombox{
	border-bottom:2px solid white;
	overflow:hidden;
	top:7%;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition:0.5s;
}

#gameroomtable{
	margin-top:20px;
	font-size:20px;
	font-size:2vw;
	border-top:2px solid white;
}

#gameroomtable th, td{
	text-align:center;
	font-size:16px;
	font-size:1vw;
}

#gameroomtable th:nth-child(odd){
	background-color:#444444;
}
#gameroomtable th:nth-child(even){
	background-color:#333333;
}
#gameroomtable>tbody>tr:nth-of-type(odd){
	background-color:#1A1A1A;
}
#gameroomtable>tbody>tr:nth-of-type(even){
	background-color:#222222;
}
#gameroomtable>tbody>tr:hover{
	/*
	background-color:lightblue;
	color:black;
	*/
}
#placeholder{
	font-style: italic;
	color:#888888;
}

#creategamebox{
	top:87%;
	width:50%;
	font-size:50px;
	font-size:5vw;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition:0.5s;
}

#creategamebox a{
	font-size:25px;
	font-size:2.1vw;
}

#joingamenum{
	width:40%;
	margin-left:auto;
	margin-right:auto;
}

#onlinebox{
	height:85%;
	width:15%;
	overflow:hidden;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition:0.5s;
}

#onlinebox .text{
	font-size:35px;
	font-size:2.5vw;
	height:10%;
}

#onlinebox .panel-heading{
	height:10%;
}

#numonline{
	font-size:25px;
	font-size:1.5vw;
	margin-left:10px;
}

#onlinelist{
	height:100%;
	background-color:#333333;
	padding:10px;
}

#onlinelist span{
	font-size:20px;
	font-size:1.5vw;
	float:left;
	margin-left:15px;
}

#createmsg{
	width:100%;
	left:0%;
}

#loading{
	display:none;
}

.close_btn{
	position:absolute;
	top:-10px;
	right:-10px;
	width: 10%;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.42;
	border-radius: 15px
}

#c4opponent, #c4me{
	height:7%;
}
#c4opponent span, #c4me span{
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition:0.5s;
}
#c4hoveranim{
	position:absolute;
	opacity:0.4;
	top:-20px;
	background-size:contain;
	background-repeat:no-repeat;
	display:none;
	/*
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
	transition:0.2s;
	*/
}
#back_to_lobby{
	display:none;
}

#back_to_lobby, #createmsg{
	padding-top:14px;
}
#create_room_button2{
	font-size:2.1vw;
}

#settings_btn{
	position:absolute;
	top:0;
	left:150%;
	display:none;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition:0.5s;
}
#settings_btn a{
	font-size:24px;
	padding-top:10px;
	width:50px;
	height:50px;
}
#settingsModal .modal-content, #gameModal .modal-content{
	background-color:#222222;
	color:white;
	border:3px solid #666666;
}
#settingsModal .modal-title, #gameModal .modal-title{
	font-size:40px;
	font-size:2vw;
	text-align: center;
}
#settingsModal .modal-body, #gameModal .modal-body{
	font-size:30px;
	font-size:1.5vw;
	text-align: center;
}
#settingsModal .modal-header, #gameModal .modal-header{
	border-bottom:3px solid #666666;
}
#settingsModal .row{
	padding-top: 4px;
	padding-bottom: 4px;
}
#gameModal .input-group-lg{
	width:80%;
	margin:20px;
	margin-left:auto;
	margin-right:auto;
}
#gameModal .bootstrap-select{
	margin:15px;
}
#room_info{
	left:56.5%;
	top:105%;
	background-color:#111111;
	width:22%;
	height:15%;
	margin:0;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition:0.5s;
	overflow:hidden;
	white-space: nowrap;
}
#room_info .panel-heading{
	font-size:25px;
	font-size:1.3vw;
	height:38%;
}
#room_info .panel-body{
	color:black;
	font-size:20px;
	font-size:1.1vw;
	height:62%;
}
#room_info .subtle{
	font-style:italic;
	color:gray;
}
#room_info .row{
	height:50%;
	padding-top:14px;
}

#game_messages{
	left:16%;
	top:105%;
	background-color:transparent;
	width:22%;
	height:15%;
	margin:0;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition:0.5s;
}
.uno_top_row{
	height:20%;
	margin-left:0;
	margin-right:0;
}
.uno_op_name{
	width:90%;
	height:30%;
	margin-left:5%;
	margin-right:5%;
	font-size:36px;
	font-size:2vw;
	color:white;
	border:2px solid white;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	background-color:#444444;
	padding-top:5px;
	-moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.uno_op_hand{
	width:90%;
	height:70%;
	margin-left:5%;
	margin-right:5%;
	background-repeat:no-repeat;
	background-size: contain;
	background-position-x:center;
	background-position-y:top;
}
.hand0{
	background-image:url('res/uno/hand0.png');
}
.hand1{
	background-image:url('res/uno/hand1.png');
}
.hand2{
	background-image:url('res/uno/hand2.png');
}
.hand3{
	background-image:url('res/uno/hand3.png');
}
.hand4{
	background-image:url('res/uno/hand4.png');
}
.hand5{
	background-image:url('res/uno/hand5.png');
}
.hand6{
	background-image:url('res/uno/hand6.png');
}
.hand7{
	background-image:url('res/uno/hand7.png');
}
.hand8{
	background-image:url('res/uno/hand8.png');
}
.uno_main_row{
	height:80%;
	margin-left:0;
	margin-right:0;
}
.uno_card_row{
	height:45%;
	margin-left:0;
	margin-right:0;
}
.uno_card_row img{
	height:90%;
	margin-left:20px;
	margin-right:20px;
	vertical-align: top;
}
.btn-big {
	vertical-align: top;
  background-color: #C63702;
    background-image: linear-gradient(167deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 55%), linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
    border-radius: 6px;
    box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AD3002, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
    color: #FFF;
    display: inline-block;
    font-family: "Lucida Grande", Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    height: 61px;
    letter-spacing: -1px;
    line-height: 61px;
    margin: 30px 0 10px;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-decoration: none !important;
    top: 0;
    width: 186px;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    -webkit-transition: 0.15s;
    transition: 0.15s;
}
.btn-big:hover, .btn-big:focus {
    background-color: #D13902;
    box-shadow: 0 0 0 1px #C63702 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #AD3002, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
    top: -2px;
    color:white;
}
.btn-big:active {
  box-shadow: 0 0 0 1px #AD3002 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  color:white;
}

.btn-big-green{
	font-family:"adobe clean";
	width:50%;
	background-color: #06AB09;
	box-shadow: 0 0 0 1px #06AB09 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #1A6907, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
.btn-big-green:hover, .btn-big-green:focus{
	background-color: #0FC512;
    box-shadow: 0 0 0 1px #0FC512 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 10px 0 0 #09940C, 0 10px 0 1px rgba(0, 0, 0, 0.4), 0 10px 8px 1px rgba(0, 0, 0, 0.6);
    top: -2px;
}
.btn-big-green:active{
	box-shadow: 0 0 0 1px #23FF27 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 0 0 1px rgba(0, 0, 0, 0.4);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
  color:white;
}

a.disabled, a.disabled:hover, a.disabled:focus, a.disabled:active{
	background-color: #404040;
	box-shadow: 0 0 0 1px #404040 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #313131, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
}
a.disabled:active{
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
#uno_btn{
	border-radius:50%;
	height:150px;
	width:150px;
	position:absolute;
	font-size:45px;
	padding-top:45px;
	top:25%;
	left:75%;
}
.uno_pad_row{
	height:5%;
}
.uno_hand_row{
	height:45%;
	background-color:#333333;
	border:2px solid white;
	border-radius:25px;	
	margin-left:0;
	margin-right:0;
	-moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.uno_hand_row img{
	height:50%;
	margin:0;
	padding:0;
	float:left;
	cursor:move;
}
#uno_discard, #uno_deck{
	-moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
	transition: 0.3s;
}
#uno_deck{
	cursor:pointer;
}
#uno_wild_picker{
	width:75%;
	left:12.5%;
	height:50%;
	margin:0;
	opacity:0.95;
	background-color:#222222;
	display:none;
	-moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition: 0.5s;
}

.uno_picker_card{
	height:60%;
	margin:10px;
	-moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
	transition: 0.3s;
	vertical-align: top;
}
.uno_picker_card:hover{
	height:70%;
}
.uno_active{
	background-color:#f5f5f5;
	border-color:black;
}
.yell_uno{
	position:absolute;
	font-family: "Lucida Grande", Arial, sans-serif;
	padding:70px;
	margin:0;
	font-size:60px;
	-moz-transition: 1.5s;
    -o-transition: 1.5s;
    -webkit-transition: 1.5s;
	transition: 1.5s;
	color:red;
	background-image: url('res/uno/explosion2.png');
	background-size: 100% 100%;
	background-repeat:no-repeat;
}
.colorpicker{
	padding:10px;
	margin:15px;
	width:70%;
	margin-left:auto;
	margin-right:auto;
}
.colorpicker button{
	border:1px solid white;
	width:20%;
	height:50px;
}

#drawcanvas, #toplayer, #drawOptions, #overlaylayer, .drawplayers, .drawguesses{
	border: 15px solid #222222;
	border-radius: 20px;
	
}

#drawOptions{
	-moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
	transition: 0.5s;
}

.drawplayers, .drawguesses{
	position:absolute;
	left:-5%;
	font-size:30px;
	width:20%;
}

.drawplayers{
	top:0;
	height:45%;
}

.drawguesses{
	top:45%;
	height:60%;
}

#drawcanvas{
	background-color: white;
}

#toplayer, #overlaylayer{
	position:absolute;
	cursor:none;
}

#drawColor{
	font-size:20px;
	width:95%;
	height:20px;
	border-radius:5px;
	border:1px groove white;
	outline:none;
}

#drawSlider{
	width:95%;
	height:11px;
	font-size:20px;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
}

#drawOptions{
	width:20%;
	margin-left:auto;
	margin-right:auto;
	font-size:40px;
	background-color: #333333;
	position:absolute;
	left:85%;
	top:0;
	height:500px;
}

#drawToolsDiv button{

}

#drawToolsDiv button img{
	width:25px;
	height:25px;
}

#drawOptions .option-label{
	font-size:25px;
	margin-top:30px;
}

.drawplayer{
	background-color: #DDDDDD;
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	height:40px;
	text-align: center;
}

.drawplayer span{
	padding-top: 8px;
	height:100%;
}

.drawname{
	float:left;
	width:70%;
	background-color:#666666;
}

.drawrank{
	float:left;
	width:10%;
	background-color:#333333;
	color:#FF9900;
}

.drawpoints{
	float:right;
	width:20%;
	background-color:#333333;
	color:#FF9900;
}