body {
	padding: 0px;    
	background-color:#222222;
	font-family: "Roboto";
}

.box {
	position: absolute;
	width: 100%;
	font-size: 50px;
	text-align: center;
	left: 150%;
	top: 100px;
	margin-left: -25%;
	color:white;
}

.msg{
	display:none;
	font-size:20px;
	margin-top:40px;
	width:50%;
	position:absolute;
	left:25%;
}

.c4row{
	overflow:hidden;
}

.c4box{
	background-color:#444444;
	width:14.2%;
	border:1px solid white;
	height:100%;
	padding:0;
	margin:0;
	min-width:85px;
}

#container {
	position: absolute;
	margin: 0px;
	padding: 0px;
	width: 99%;
	height: 99%;
	overflow: hidden;  
}

#name_select {
	left: 25%;
}

#name_select input[type=text]{
	border: 0px solid white;
	border-bottom-width: 2px;
	color:white;
	font-family: inherit;
	font-size:35px;
	background:transparent;
	text-align: inherit;
	text-decoration: none;
	outline:none;
	padding-top:30px;
}


#chatbox{
	width:23%;
	height:100%;
	top:0;
}

#chatname{
	color:white;
}

#messages { 
	overflow-y:scroll; 
	color:black;
	font-size:18px;
	padding:5px;
	padding-left:10px;
	margin:0;
	height:85%;
	text-align: left;
	background-color:white;
	line-height:1.5em;
}
#messages span {
	word-wrap:break-word; 
	margin:0;
	border:0px;
}

#chatbox_main input{ 
	width:100%; 
	color:black; 
	margin:0px; 
	font-size:16px; 
}

#connect_four_div{
	height:100%;
	width:45%;
	top:0px;
	margin-top:20px;
	margin-bottom:20px;
}

#chatmain{
	padding-left:0px;
	width:20%;
	top:0px;
	height:100%;
}

.contentbox{
	width:60%;
	height:75%;
}

#gameroombox{
	border-bottom:2px solid white;
	overflow:hidden;
}

#gameroomtable{
	margin-top:20px;
	font-size:20px;
	border-top:2px solid white;
}

#gameroomtable th, td{
	text-align:center;
}

#gameroomtable th:nth-child(odd){
	background-color:#444444;
}
#gameroomtable th:nth-child(even){
	background-color:#333333;
}

#placeholder{
	font-style: italic;
	color:#888888;
}

#creategamebox{
	top:87%;
	width:50%;
	font-size:50px;
}

#creategamebox a{
	font-size:25px;
}

#joingamenum{
	width:40%;
	margin-left:auto;
	margin-right:auto;
}